ion-card {
    background-image: url('https://img.freepik.com/vector-premium/perro-gato-diseno-logotipo-cuidado-mascotas-concepto-elemento-simbolo-vector-ilustracion_690981-739.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border: 2px solid #f07b07e6;
  }

ion-label {
    color: #000000;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);  // Sombra para mejor legibilidad
}

ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

ion-row {
    margin-bottom: 12px;
}

ion-col {
    display: flex;
    justify-content: flex-start;
}

app-input {
    --background: transparent;
    --placeholder-color: #080808;  // Placeholder más claro para mejor contraste
    --border-color: #f5a623;  // Un color cálido y contrastante para los bordes
    color: #000000;  // Color blanco para el texto
    width: 100%;
    text-align: left;
}

app-button {
    --background: #3880ff;
    --border-radius: 8px;
    --padding: 12px;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
}

.button-row {
    margin-top: 20px; /* Espaciado entre el formulario y los botones */
    justify-content: space-between; /* Espaciado entre los botones */
  }
  
  ion-button {
    width: 100%; /* Opcional: Asegura que los botones se expandan en el contenedor */
  }
  

@media (min-width: 768px) {
    ion-card {
      max-width: 600px;
      margin: auto;
    }

    ion-col {
      max-width: 500px;
    }
}
