ion-card {
    background-color: rgba(0, 0, 0, 0.6);  // Fondo semitransparente oscuro para destacar el contenido
    background-image: url('https://cdn.pixabay.com/photo/2016/03/31/17/37/animal-1293792_960_720.png');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border: 2px solid #bc5d04d0;
    color: #ffffff;  // Color blanco por defecto para el texto
}

ion-title {
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);  // Sombra para mejor legibilidad
}

ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

ion-row {
    margin-bottom: 12px;
}

ion-col {
    display: flex;
    justify-content: flex-start;
}

app-input {
    --background: transparent;
    --placeholder-color: #e0e0e0;  // Placeholder más claro para mejor contraste
    --border-color: #f5a623;  // Un color cálido y contrastante para los bordes
    color: #ffffff;  // Color blanco para el texto
    width: 100%;
    text-align: left;
}

app-button {
    --background: #3880ff;
    --border-radius: 8px;
    --padding: 12px;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
}

@media (min-width: 768px) {
    ion-card {
      max-width: 600px;
      margin: auto;
    }

    ion-col {
      max-width: 500px;
    }
}
